{% assign reprobox = site.data.reproboxs
  | where_exp: "reprobox",
    "reprobox.id == include.lookup or reprobox.title contains include.lookup"
  | first
  | default: include
%}

<div class="reprobox">
  {% if include.style == "rich" %}
    <a
      {% if reprobox.link %}
        href="{{ reprobox.link | relative_url }}"
      {% endif %}
      class="reprobox-image"
      aria-label="{{ reprobox.title | default: "reprobox link" }}"
    >
      <img
        src="{{ reprobox.image | relative_url }}"
        alt="{{ reprobox.title | default: "reprobox image" }}"
        loading="lazy"
        {% include fallback.html %}
      >
    </a>
  {% endif %}

  <div class="reprobox-text">
    {% assign type = site.data.types[reprobox.type] %}
    {% include icon.html icon=type.icon %}

    <a
      {% if reprobox.link %}
        href="{{ reprobox.link | relative_url }}"
      {% endif %}
      class="reprobox-title"
    >
      {{ reprobox.title | default: "[no title info]" }}
    </a>


    {% if include.style == "rich" %}
      {% if reprobox.description %}
        <div class="reprobox-description">
          {{
            reprobox.description
            | markdownify
            | remove: "<p>"
            | remove: "</p>"
          }}
        </div>
      {% endif %}

      {% if reprobox.buttons.size > 0 %}
        <div class="reprobox-buttons">
          {% for button in reprobox.buttons %}
            {%
              include button.html
              type=button.type
              icon=button.icon
              text=button.text
              link=button.link
              style="bare"
            %}
          {% endfor %}
        </div>
      {% endif %}

      {% if reprobox.tags.size > 0 or reprobox.repo %}
        {% include tags.html tags=reprobox.tags repo=reprobox.repo %}
      {% endif %}
    {% endif %}
  </div>
</div>
